<div class="container">
  <div class="header">
    <h1>Employee Pairs</h1>
    <button mat-stroked-button color="accent" (click)="fileUpload.click(); $event.preventDefault()">
      Upload employee CSV
    </button>

    <input type="file" accept=".csv" hidden (change)="onFileUpload($event)" #fileUpload />
  </div>

  @if (pairs().length > 0) {
    <table mat-table [dataSource]="pairs()" class="mat-elevation-z8">
      <ng-container matColumnDef="EmpID1">
        <th mat-header-cell *matHeaderCellDef>Employee #1</th>
        <td mat-cell *matCellDef="let row">{{ row.EmpID1 }}</td>
      </ng-container>

      <ng-container matColumnDef="EmpID2">
        <th mat-header-cell *matHeaderCellDef>Employee #2</th>
        <td mat-cell *matCellDef="let row">{{ row.EmpID2 }}</td>
      </ng-container>

      <ng-container matColumnDef="ProjectID">
        <th mat-header-cell *matHeaderCellDef>Project ID</th>
        <td mat-cell *matCellDef="let row">{{ row.ProjectID }}</td>
      </ng-container>

      <ng-container matColumnDef="DaysWorked">
        <th mat-header-cell *matHeaderCellDef>Days Worked</th>
        <td mat-cell *matCellDef="let row">{{ row.DaysWorked }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  }
</div>
